@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    box-shadow: 0 6px 19px 6px #dbe4ee;
  }

  #share-social-media-desktop::after {
    content: "";
    border: 1rem solid transparent;
    border-top: 1rem solid hsl(217, 19%, 35%);
    position: absolute;
    /* The location is -rem from the bottom due to applied padding on the div py-4.
    we then have to add 1 more rem so it fits in the right location 
    */
    bottom: -2rem;
    transform: translate(-50%);
    left: 50%;
  }
}
